.MuiPaper-root.menu {
	width: 320px;
	height: 380px;
	position: fixed;
	top: -380px;
	right: 10px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #16161a;
	transition: all 1s ease;

	&.active {
		top: 60px;
	}

	.txt {
		color: whitesmoke;
	}

	.title-icon {
		color: green;
	}
}
