.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-switch {
	display: flex;
	align-items: center;
}

.event-section {
	// width: 250px;
	min-height: 54px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	&.alt {
		flex-direction: column;
		justify-content: center;
	}

	.icon {
		width: 20px;
		height: 20px;
		color: grey;

		&.space {
			margin-right: 10px;
		}
	}

	.add-icon {
		color: green;
	}
}

.tag-swatch {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.delete {
	color: red;
}

.undo,
.send-reminder {
	color: green;
}
