.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-switch {
	display: flex;
	align-items: center;
}

.event-date,
.event-loc,
.event-tags {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	.icon {
		margin-right: 7px;
	}
}

.add-on {
	color: black;
}

.tag-swatch {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
