p {
	font-size: x-small;
	font-family: 'Open Sans', sans-serif;
}

.cell {
	height: 54px;
	width: 54px;

	header {
		margin-top: 5px;
		margin-left: 5px;
	}

	.abv {
		margin-bottom: 1px;
	}

	.today,
	.selected-day {
		width: 13px;
		color: whitesmoke;
		border-radius: 100%;
		padding: 2px;
		text-align: center;
	}

	.today {
		background-color: steelblue;
	}

	.selected-day {
		background-color: indigo;
	}
}
