.calendar {
	// border: 2px solid firebrick;

	.container {
		// display: flex;
		// border: 2px solid chartreuse;
	}
}

@media only screen and (min-width: 500px) {
	.calendar {
		// max-width: 95%;
	}
}
@media only screen and (min-width: 600px) {
	.calendar {
		// max-width: 90%;
	}
}
@media only screen and (min-width: 900px) {
	.calendar {
		// max-width: 60%;

		.container {
			display: flex;
		}
	}
}
@media only screen and (min-width: 1200px) {
	.calendar {
		max-width: 57%;
	}
}
@media only screen and (min-width: 1536px) {
	.calendar {
		max-width: 45%;
	}
}
