.canvas {
	height: calc(100vh - 64px);
}

.title-icon {
	align-self: center;
	margin-bottom: 10px;
}

.txt {
	color: whitesmoke;
}

.visibility-icon {
	color: grey;
}

.response-container {
	display: flex;
	align-items: center;
	align-self: center;

	.response-icon {
		margin-right: 2.5px;
	}
}

.success {
	color: green;
}

.fail {
	color: red;
}

.link {
	text-decoration: none;
	color: steelblue;
	font-weight: 500;
}

.error {
	color: red;
	text-align: center;
	margin-top: 5px;
}
