* {
	margin: 0;
	padding: 0;
	scroll-snap-align: start;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

// font-family: 'Bubblegum Sans', cursive;
// font-family: 'Caveat', cursive;
// font-family: 'Darumadrop One', cursive;
// font-family: 'Fontdiner Swanky', cursive;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Gochi Hand', cursive;
// font-family: 'Henny Penny', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Irish Grover', cursive;
// font-family: 'Kalam', cursive;
// font-family: 'Nanum Pen Script', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Rock Salt', cursive;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Shantell Sans', cursive;
